body {
background-color: #0A84FE;
}
@font-face {
font-family: Framework7 Icons;
src: url(https://appinstallerios.com/fonts/Framework7Icons-Regular.woff2);
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .nav {
    font-family: Framework7 Icons;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    z-index: 99;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    left: 6.4%;
    width: 80%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
.nav a:hover {
color: #0A84FE;
}
.nav a {
font-size: 40px;
text-decoration:none;
color: #ffffff;
margin: 15px;
}
